* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: bisque;
}

.content {
    padding: 8px;
    width: 800px;
    margin: 16px auto;
    background-color: brown;
    border:2px rgb(24, 64, 116) solid;
}

.middle {
    margin-bottom: 8px;
    padding: 8px;
    background-color: aliceblue;
    padding-left: 30px
}

h1 {
    font-size: 60px;
    background-color: aliceblue;
    color: blueviolet;
    margin-top: 0;
    margin-bottom: 8px;
    padding: 8px;
}

ul, ol{
    background-color: aliceblue;
    color: hsl(240, 49%, 45%);
    padding: 30px;
    margin: 0
}

.link {
    background-color: aliceblue;
    color: cyan ;
    padding: 20px;
    font-size: 20px;
}

.box {
    padding: 8px;
    border: 2px solid black
}